body {
    margin: 0;
    background-image: url(./img/bg.jpg);
    background-size: auto 100vh;
    background-repeat:  repeat-x;
}

.board-container {
    width: 100vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    border: 1px solid #fff;
    width: 800px;
    height: 800px;
    position: relative;
}

.player {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    /* overide inline */
    top: 0;
    left: 0;
}

.egg {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    /* overide inline */
    top: 0;
    left: 0;
}

.score-container {
    padding: 0 10px;
}

.player-score {
    padding: 0 20px;
    font-size: 33px;
}

.timer {
    font-size: 52px;
}

#stop {
    display: none;
}

.logo {
    height: 141px;
}

.game-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 16vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.game-footer.score {
    justify-content: center;
}